*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff006e, #8338ec);
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.todo h2{
    color: white;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.todo img{
    width: 30px;
    margin-left: 20px;
}

.row{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

input{
    background: transparent;
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
}

button{
    outline: none;
    border: none;
    padding: 10px 50px;
    background: #8338ec;
    color: white;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 20px 10px 5px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: white;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 16px;
    left: 8px;
}

ul li.checked{
    color: #828282;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #ff006e;
    border-radius: 50px;
}